{% include 'partials/baseTemplate.html' %}

<script type="text/javascript">
    function upload_img(input){
        if(input.files && input.files[0]){
            var reader = new FileReader()
            reader.onload = function(event){
                $('#img_id').attr('src',event.target.result)
            }
            reader.readAsDataURL(input.files[0])
        }
    }

</script>
<div class="container mt-5 pb-4" style="opacity: 0.8;" >
    <form method="POST" action="{% url 'predict' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <h1 class="display-4 text-center">Upload your X-ray file</h1>
        <div class="form-group mt-5">
            <label for="name" class="lead">Enter your name: </label>
            <input type="text" class="form-control" name="name" id="name">
            <small class="form-text text-muted">Your name will not be shared with anyone else</small>
        </div>
        <div class="form-group">
            <label for="age" class="lead mt-4">Enter your age:</label>
            <input type="text" class="form-control" name="age" id="age">
        </div>
        <div class="form-group">
            <input class="btn btn-sm float-left pr-0 mt-3" onchange="upload_img(this);" style="background-color: darkblue; opacity: 0.9;color: white;" type="file" value="Upload" name="img"  required>
           
            <br><br>
        </div>
        <div class="float-left">
            <input type="submit" value="Upload & Get result" class="btn float-left mt-3" style="background-color: darkblue; color: white; opacity: 0.9;"> 
          
        </div>
        <div class="float-left mt-3">
            <img id="img_id" style="width: 40%;height: 40%; opacity: 1;">
        </div>
        
        
    </form>        
</div>




{% include 'partials/footer.html' %}